body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial;
}

iframe{
    border: 0;
}

#headerWrapper{
    box-sizing: border-box;
    width: 100%;
    height: 94px;
}

main{
    width: 100%;
    height: 100%;
    flex-grow: 1;
    text-align: center;
    background-color: deepskyblue;
}

article{
    box-sizing: border-box;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

footer{
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    color: white;
    font-size: 18px;
    background-color: #222222;
    padding: 2%;
}

nav{
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(75, 75, 75);
    text-align: center;
    padding: 5px 20px 10px;
    color: white;
    font-size: 0px;
}

nav > button{
    border: 0;
    padding: 10px 5px;
    background-color: transparent;
    font-weight: bold;
    font-size: 16px;
    color: white;
}

nav > button:hover{
    background-color: rgb(120, 120, 120);
}

.line{
    display: inline-block;
    width: 2px;
    height: 35px;
    background-color: black;
    box-sizing: border-box;
    margin: 0px 10px;
    position: relative;
    top: 11px;
}

#lineForm{
    width: 2px;
    height: 100%;
    background-color: black;
    box-sizing: border-box;
    display: inline-block;
}

.buttonsContainer{
    width: 380px;
    text-align: left;
}

.buttonWrapper{
    display: inline-block;
    margin-top: 10px;
}

.buttonWrapper:hover{
    background-color: rgba(210, 210, 210, 0.6);
}

#local, #multi, #computer{
    color: white;
    background-color: transparent;
    border: none;
    font-size: 30px;
    margin: 5px;
}

#local::before{
    content: url(../resources/local.svg);
    margin-right: 8px;
}

#multi::before{
    content: url(../resources/multi.svg);
    margin-right: 8px;
}

#computer::before{
    content: url(../resources/computer.svg);
    margin-right: 8px;
}