body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial;
}

header{
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(0, 0, 146);
    color: white;
    padding-top: 5px;
}

header > img{
    width: 60px;
    height: 60px;
    position: relative;
    top: 15px;
}

h1{
    margin: 0;
    font-size: 4vh;
    display: inline-block;
}

main{
    width: 100%;
    height: 100%;
    flex-grow: 1;
    text-align: center;
    background-color: rgb(60, 206, 255);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    box-sizing: border-box;
}

footer{
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    color: white;
    font-size: 1.5vh;
    background-color: #222222;
    padding: 1.5%;
}

nav{
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(75, 75, 75);
    text-align: center;
    padding: 5px 20px 10px;
    color: white;
    font-size: 0px;
    margin-top: 25px;
}

nav > button, nav > a{
    border: 0;
    padding: 10px 5px;
    background-color: transparent;
    font-weight: bold;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

nav > button:hover, nav > a:hover{
    background-color: rgb(120, 120, 120);
}

.line{
    display: inline-block;
    width: 2px;
    height: 35px;
    background-color: black;
    box-sizing: border-box;
    margin: 0px 10px;
    position: relative;
    top: 11px;
}

#lineForm{
    width: 2px;
    height: 100%;
    background-color: black;
    box-sizing: border-box;
    display: inline-block;
}

main > aside{
    width: 20%;
    height: 100%;
    background-color: royalblue;
    color: white;
    padding: 15px;
    box-sizing: border-box;
}

main > section{
    width: 20%;
    height: 100%;
    background-color: royalblue;
    color: white;
    box-sizing: border-box;
}

.styleContainer{
    margin-top: 7px;
    margin-bottom: 10px;
}

input [type="range"]{
    background-color: #afafaf;
    color: aquamarine;
}

.colorPreview{
    width: 24px;
    height: 24px;
    background-color: white;
    border: solid 2px black;
    border-radius: 4px;
    display: inline-block;
}

.modalWrapper{
    background-color: rgba(0,0,0,0.4); 
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    display: none;
}

iframe{
    width: 100%;
    height: 100%;
    border: 0;
}

#info{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

#paused{ 
    color: rgb(192, 0, 0);
}

#info > p{
    font-size: medium;
    margin: 6px;
}

#send{
    border: 0px;
    width: fit-content;
    margin: 5px auto;
}

#playersInfo{
    width: 80%;
    box-sizing: border-box;
}

.playerWrapper{
    position: relative;
}

.playerWrapper > p{
    margin: 0 auto;
}

.modalButton{
    color: white;
    font-size: 120%;
    font-weight: bold;
    border: none;
    background-color: mediumblue;
    padding: 5px;
    width: fit-content;
    box-shadow: 3px 3px dimgray;
    margin: 5px 0px;
    transform: skew(-15deg);
    position: relative;
}

.modalButton:hover{
    box-shadow: 4px 4px lightgray;
    bottom: 2px;
    right: 2px;
}

#adminButton{
    display: none;
}

#error{
    color: rgb(255, 40, 40);
    font-weight: 300;
}

#consoleWrapper{
    position: absolute;
    bottom: 0;
    width: auto;
    padding: 5px;
}