body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

iframe{
    border: 0;
}

#headerWrapper{
    box-sizing: border-box;
    width: 100%;
    height: 94px;
}

main{
    width: 100%;
    height: 100%;
    flex-grow: 1;
    text-align: center;
    background-color: deepskyblue;
}

article{
    box-sizing: border-box;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

footer{
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    color: white;
    font-size: 18px;
    background-color: #222222;
    padding: 2%;
}

nav{
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(75, 75, 75);
    text-align: center;
    padding: 5px 20px 10px;
    color: white;
    font-size: 0px;
}

nav > button{
    border: 0;
    padding: 10px 5px;
    background-color: transparent;
    font-weight: bold;
    font-size: 16px;
    color: white;
}

nav > button:hover{
    background-color: rgb(120, 120, 120);
}

.line{
    display: inline-block;
    width: 2px;
    height: 35px;
    background-color: black;
    box-sizing: border-box;
    margin: 0px 10px;
    position: relative;
    top: 11px;
}

#lineForm{
    width: 2px;
    height: 100%;
    background-color: black;
    box-sizing: border-box;
    display: inline-block;
}

form{
    display: inline-block;
    border: black solid 3px;
    border-radius: 10px;
    width: 20%;
    height: 40%;
    min-width: 150px;
    min-height: 200px;
    max-height: 250px;
    text-align: center;
    padding: 10px 14px;
    margin-right: 15px;
    background-color: #f2f3f4;
    box-shadow: 4px 4px 10px;
}

input[type="text"], input[type="password"], input[type="submit"]{
    box-sizing: border-box;
    width: 100%;
    height: 42px;
    border-radius: 6px;
    padding-left: 10px;
    font-size: 18px;
    margin-top: 15px;
}

input[type="text"]:focus, input[type="password"]:focus{
    border: 2px solid black;
    outline: 0px;
    width: 100%;
}

input[type="checkbox"]{
    width: 18px;
    height: 18px;
    margin: 10px 2px 2px;
}

.buttonsContainer{
    width: 250px;
    text-align: left;
}

.buttonWrapper{
    display: inline-block;
}

.buttonWrapper:hover{
    background-color: rgba(210, 210, 210, 0.6);
}

#guest, #newUser{
    color: white;
    background-color: transparent;
    border: none;
    font-size: 26px;
    margin: 5px;
}

#guest::before{
    content: url(resources/user.svg);
    margin-right: 5px;
}

#newUser::before{
    content: url(resources/newUser.svg);
    margin-right: 5px;
}

#modalWrapper{
    display: none;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
}